@model Platec.Models.Course

<div>
    <h4>@Model.CourseName</h4>
    <hr />

    <p>
        <strong>Teacher:</strong>
        @(Model.Teacher != null ? Model.Teacher.Email : "None")
    </p>

    <p>
        <strong>Students Enrolled:</strong> 0
    </p>

    <div class="mt-3">
        <a href="/Courses/Edit/@Model.CourseId" class="btn btn-warning">
            Edit Course
        </a>
    </div>
</div>
